<html><head>
{{>header}}
{{>navBar}}
</head>
<body>
<h1>{{title}}</h1>

    <div class="container marketing">
     <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Philosophy</h2>
            <p class="lead"> Welcome to our page and thank you for visiting. For years, we have supplied the local area with freshly made, hand-crafted lunches and dinners. We focus on creating a feeling of comfort within
            the restaurant - a feeling of being at home. The menu has been designed with this idea in mind.</p>
            <p class="lead"> As a small family-owned business, we pride ourselves on using locally and ethically sourced produce. For over 80 years our family </P>
            <p class="lead">Our menu is small, but concise, with each dish specially chosen with love and what we believe is the customer's best interests. </p>
          </div>

          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 300px; height: 300px;" src="img/philosophy.jpg" data-holder-rendered="true">
          </div>
        </div>
    <hr class="featurette-divider">


        <div class="row featurette">
          <div class="col-md-7 order-md-2" style="align-content:center;">
            <h2 class="featurette-heading">About Us</span></h2>
            <p class="lead">Although we specialise in Italian food, other requests can be accepted depending on specific dietary requirements or preferences.</p>
            <p class="lead">Please don't hesitate to speak to a member of staff if you have any issues!</p>
            <p class="lead">All of our chefs are classically trained wiht over 50 combined years of experience - meaning we epect to give you a night worth remembering!</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 300px; height: 300px;" src="img/our team.jpg" data-holder-rendered="true">
          </div>
        </div>
    </div>
    </div>

 <hr class="featurette-divider">
<div class="container marketing">
<h2> Meet The Team! </h2>
<div class="row">
<div class="col-lg-4">
<img class="rounded-circle" src="img/chef1.jpg" width="140" height="140">
<h2> Chef Tom </h2>
<p> Tom specialises in Italian food - specifically pasta dishes. </p>
</div>

<div class="col-lg-4">
<img class="rounded-circle" src="img/chef2.jpg" width="140" height="140">
<h2> Chef Dave </h2>
<p> Dave is our go-to man for pub foods or special requests, as he has had experience all over the world!</p>
</div>

<div class="col-lg-4">
<img class="rounded-circle" src="img/chef3.jpg"  width="140" height="140">
<h2> Chef Sally </h2>
<p> Sally is our pizza chef, with over 20 years experience making pizzas.</p>
</div>
</div>
</div>



</body>
{{>footer}}
</html>
