<html><head>
{{>header}}
{{>navBar}}
</head>
<body>
<h1>{{title}}</h1>

<div class="content">
    <h3> Our Philosophy </h3>
    <p> Welcome to our page and thank you for visiting. For years, we have supplied the local area with freshly made, hand-crafted lunches and dinners. We focus on creating a feeling of comfort within
    the restaurant - a feeling of being at home. The menu has been designed with this idea in mind.</p>
    <p> As a small family-owned business, we pride ourselves on using locally and ethically sourced produce. For over 80 years our family </P>
    <p>Our menu is small, but concise, with each dish specially chosen with love and what we believe is the customer's best interests. </p>
</div>

<div class="content">
    <h2> Meet The Team Behind The Magic! </h2> 
</div>


</body>
{{>footer}}
</html>
