<html><head>
{{>header}}
{{>navBar}}
</head>
<body>
<h1>{{title}}</h1>

<div>
<h4>Welcome to our family bistro! Please take a look around using the links at the top, or for easy navigation use our image links you can see below!</h4>

</div>
<br>
<br>
<br>

</body>
{{>footer}}
</html>
