<html>
<head>
{{>header}}
{{>navBar}}
<link rel="stylesheet" type="text/css" href="/public/styles/navBar.css" />
</head>
<body>
<h1>{{title}}</h1>


  <div class="menus">
    <div class="column" id="menus">
      <div class="container-sm" id="left">
            <h4>Lunch Items<h4>
              {{#LunchMenus}}
            <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{dishname}}</h4>
     <p class="card-text">
      Price: £ {{price}}
     </p>
    <p class="card-text">
     Description: {{description}}
    </p>          
      <div class="card-footer">
        Ingredients: {{content.ingredients}}
      </div>
</div>
</div>
<hr>
{{/LunchMenus}}
</div>

<div class="container-sm" id="right">
<h4>Dinner Items<h4>
{{#DinnerMenus}}
<div class="card">
  <div class="card-body">
          <h4 class="card-title">{{dishname}}</h4>
    <p class="card-text">
      Price: £ {{price}}
    </p>
    <p class="card-text">
     Description: {{description}}
    </p>          
      <div class="card-footer">
        Ingredients: {{content.ingredients}}
      </div>
</div>
</div>
{{/DinnerMenus}}
</div>
</div>
</div>




{{^LunchMenus}}
No entries yet.
{{/LunchMenus}}
</body>
{{>footer}}
</html>
