<html>
<head>
{{>header}}
{{>navBar}}
<link rel="stylesheet" type="text/css" href="/public/styles/navBar.css" />
</head>
<body>
<h1>{{title}}</h1>

{{#LunchEntries}}
<div class="card">
  <div class="card-body">
          <h4 class="card-title">{{dishname}}</h4>
    <p class="card-text">
      Price: £ {{price}}
    </p>
    <p class="card-text">
     Description: {{#LunchEntries.description}}
    </p>          
      <div class="card-footer">
        Ingredients: {{content.ingredients}}
      </div>
</div>
{{/LunchEntries}}

{{#DinnerEntries}}
<div class="card">
  <div class="card-body">
          <h4 class="card-title">{{dishname}}</h4>
    <p class="card-text">
      Price: £ {{price}}
    </p>
    <p class="card-text">
     Description: {{description}}
    </p>          
      <div class="card-footer">
        Ingredients: {{content.ingredients}}
      </div>
</div>
{{/DinnerEntries}}

{{^foods}}
No entries yet.
{{/foods}}
</body>
{{>footer}}
</html>
