<html><head>
{{>header}}
<link rel stylesheet="styles/home.css">
{{>navBar}}
</head>
<body>
<h1>{{title}}</h1>

<div>
<h4>Welcome to our family bistro! Please take a look around using the links at the top, or for easy navigation use our image links you can see below!</h4>
</div>

<br>
<br>

 <div class="row">
  <div class="column">
    <img src="img/chef1.jpg" alt="chef" style="width: 500px; height:500px;">
  </div>
  <div class="column">
    <img src="img/chef2.jpg" alt="Forest" style="width: 500px; height: 500px;">
  </div>
  <div class="column">
    <img src="img/chef3.jpg" alt="Mountains" style="width: 500px; height: 500px;">
  </div>
</div> 

</body>
{{>footer}}
</html>
