<html><head>
{{>header}}
<link rel stylesheet="styles/home.css">
{{>navBar}}
</head>
<body>
<h1>{{title}}</h1>

<div>
<h4>Welcome to our family bistro! Please take a look around using the links at the top.</h4>


<p> To book a table. please call us on 0800 441 553! </p>


<img src="img/chef2.jpg">



</body>
{{>footer}}
</html>
