<head>
<link rel="stylesheet" href="./public/styles/navBar.css">
</head>
<div class="topnav">
  <ul>
    <li>
      <a href="/">
        <span>Home</span>
      </a>
    </li>

    <li>
      <a href="/menu">
        <span>Menu</span>
      </a>
    </li>

    <li>
      <a href="/contact">
        <span>Contact</span>
      </a>
    </li>

    <li>
      <a href="/review">
        <span>Review</span>
      </a>
    </li>

    <li>
      <a href="/about">
        <span>About</span>
      </a>
    </li>
  </ul>
</nav>
  </ul>
</div>
