<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Write a new entry</h2>
<div class="text-right" style="margin-bottom: 1em;">
{{^user}}
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}

  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}
</div>
<form method="post" role="form" action="/new">
<div class="form-group">
<label for="Dishname">Dish Name</label>
<input type="text" class="form-control" id="dishname"
name="dishname" placeholder="Enter name of dish"
required>
</div>
<div class="form-group">
<label for="description">Description</label>
<input type="text" class="form-control" id="description"
name="description" placeholder="Enter a description"
required>
</div>
<div class="form-group">
<label for="price">Price in £</label>
<input type="text" class="form-control" id="price"
name="price" placeholder="Enter a price"
required>
</div>
<div class="form-group">
<label for="chefSpecial">Is this a chef special?</label>
<input type="checkbox" class="form-control" id="chefSpecial"
name="chefSpecial" placeholder="Is this a chef special?"
required>
<div class="form-group">
<label for="vegetarian">Is this vetegarian?</label>
<input type="checkbox" class="form-control" id="vegetarian"
name="vegetarian" placeholder="Vegetarian?"
required>
</div>
<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary">
</div>
</form>
</body
</html>